<div class="container animated fadeInRight" ng-controller="CreateCtrl">
    <div class="grid">
        <h1>Neuen Eintrag erstellen</h1>
        <div class="row cells2">
            <div class="cell">
                <label>Title</label>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
                <label>Teaser</label>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
                <label>Inhalt</label>
                <div class="input-control textarea full-size">
                    <textarea></textarea>
                </div>
                <label>Tags</label>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
            </div>
            <div class="cell">
                <label>Image</label>
                <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
