<div class="app-bar navy">
    <a class="app-bar-element">
        <span id="toggle-tiles-dropdown" class="mif-apps mif-2x"></span>
    </a>
    <a class="app-bar-element no-padding-left" href="#">YOUR COMPANY</a>
    <span class="app-bar-divider"></span>
    <a class="app-bar-element" href="#">Bizfeed</a>
    <img src="https://randomuser.me/api/portraits/men/52.jpg" class="app-bar-element place-right no-padding img-responsive">
    <span class="app-bar-divider place-right"></span>
    <a class="app-bar-element place-right"><span class="mif-cog mif-2x fg-white"></span></a>
    <span class="app-bar-divider place-right"></span>
    <a ui-sref-active="active" ui-sref="dashboard.create" href="#/dashboard/create" class="app-bar-element place-right"><span class="mif-plus mif-2x fg-white"></span></a>


</div>

